.btn-verify {
    margin-bottom: 15px;
}
.table-host-status {
    text-align: left;
}

.card {
    /*background-color: #19171c;*/
    /*background-color: #343944;*/
    /*background-color: #829BBC;*/
    /*background-color: #78758E;*/
}

.modal-body {
    overflow-x: auto;
    white-space: nowrap;
}
