{% extends 'base.html' %}

{% block scripts %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/internal/check-health.js') }}"></script>
{% endblock scripts%}

{% block content %}

{% for hostname, details in inventory.items() %}
    <!-- Modal -->
    <div class="modal fade" id="{{ hostname }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ hostname }}DetailsModal" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="{{ hostname }}DetailsModal">{{ hostname }} Verification Errors</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div id="{{ hostname }}ModalBody">
                  <pre><code></code></pre>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-verify" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endfor %}

  <div class="row">
    <div class="col-xl-12" id="verify-btn-col">
    </div>
  </div>

<div class="row">

    <div class="col-xl-12">

      <button type="button" class="btn btn-primary btn-verify" id="checkHealthBtn" onclick="updateStatus()"><i class="fa fa-heart"></i>Check Health</button>

    <div class="card">
    <div class="card-body">

        <table class="table table-hover table-host-status" id="statusTable">
          <thead>
            <tr>
              <th scope="col">Hostname</th>
              <th scope="col">Management IP</th>
              <th scope="col">Status</th>
              <th scope="col">Error Details</th>
            </tr>
          </thead>
          <tbody>
          {% for hostname, details in inventory.items() %}
              <tr>
                <th scope="row">{{ hostname }}</th>
                <td>{{ details['mgmt_ip'] }}</td>
                <td id="{{ hostname }}-status-entry">-</td>
                <td id="{{ hostname }}-details-entry"><a href="#" onclick="openDetailsModal(`{{ hostname }}`)"><i class="fa fa-info-circle"></i></a></td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    </div>
    </div>

</div>

<script>


    //updateStatus()





</script>

{% endblock content %}
