{% extends 'base.html' %}

{% block content %}

<style>
    form {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    svg {
        font: 11px Arial;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
        display: block;
        margin: auto;
    }

    .row {
        margin-top: 10px;
    }
</style>

<!-- Import ds3 -->
<script src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>

  <div class="row">
    <div class="col-xl-12">
        <svg width="1560" height="750"></svg>
    </div>
  </div>

<script>

const svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

const fader = function(color) { return d3.interpolateRgb(color, "#fff")(0.2); },
    color = d3.scaleOrdinal(d3.schemeCategory20);
    format = d3.format(",d");

const treemap = d3.treemap()
    .tile(d3.treemapResquarify)
    .size([width, height])
    .round(true)
    .paddingInner(1);

d3.json("static/netbox-treemap-data.json", function(error, data) {
  if (error) throw error;

  const root = d3.hierarchy(data)
      .eachBefore(function(d) { d.data.id = (d.parent ? d.parent.data.id + "/" : "") + d.data.name; })
      .sum(sumBySize)
      .sort(function(a, b) { return b.height - a.height || b.value - a.value; });

  treemap(root);

  const cell = svg.selectAll("g")
      .data(root.leaves())
      .enter().append("g")
      .attr("transform", function(d) { return "translate(" + d.x0 + "," + d.y0 + ")"; });

  cell.append("rect")
      .attr("rx", 2) // slightly round edges
      .attr("ry", 2)
      .attr("id", function(d) { return d.data.id; })
      .attr("width", function(d) { return d.x1 - d.x0; })
      .attr("height", function(d) { return d.y1 - d.y0; })
      .attr("fill", function(d) { return color(d.parent.data.id); });

  cell.append("clipPath")
      .attr("id", function(d) { return "clip-" + d.data.id; })
      .append("use")
      .attr("xlink:href", function(d) { return "#" + d.data.id; });

  cell.append("text")
      .attr("clip-path", function(d) { return "url(#clip-" + d.data.id + ")"; })
      .selectAll("tspan")
      .data(function(d) { return d.data.name.split(/(?=[A-Z][^A-Z])/g).concat(format(d.value)).concat(d.parent.data.id.split(/\//g)[2]) })
      .enter().append("tspan")
      .attr("x", 4)
      .attr("y", function(d, i) { return 13 + i * 10; })
      .attr("x", 4)
      .text(function(d) { return d; });

  cell.append("title")
      .text(function(d) { return d.data.id + "\n" + format(d.value); });

});


function sumBySize(d) {
  return d.size;
}

</script>

{% endblock content %}